body{
    background-color: crimson;
}
.h1style{
    color: rgb(72, 0, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.images{
    width: 80%;
    height: 70%;
}

.subdiv{
    float: left;
    width: 25%;
    height: 25%;
    border: 2px solid green;
    margin-right: 5px;
    padding-left: 10px;
    padding: auto;
}

.maindiv{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: blue;
    margin-right: 30px;
    
}

.caption{
    color: maroon;
    text-align: center;
}

